<label>Content:</label>
<%=@question.content%><br>
<label>Image:</label>
<%@question.image%>
<br>
<br>
<a class="button" href="/answers/new">Add answer</a><br>

<label>Answers</label><br>
<%@question.answers.each do |answer|%>
<%=answer.content%>
<%=answer.solution%> <br>
<%end%>


<a class="button" href="/questions/<%=@question.id%>/edit">Edit question</a><br>