<a class="button" href="/trivia">Trivias</a>
<a class="button" href="/games/pick<%=@trivium.id%>/edit">Play trivias</a><br>
<a class="button" href="/trivia/new">Create your trivia</a>
<h1>Select a Trivia:</h1>
<ul>
<%@trivia.each do |t|%>
<li><%=link_to(t.title,t)%></li>
<%end%>
</ul>

