<a class="button" href="/trivia">Trivias</a><br>
<a class="button" href="/games/pick">Play trivias</a><br>
<a class="button" href="/trivia/new">Create your trivia</a><br>
<h1>Select a Trivia:</h1>
<ul>
<%@trivia.each do |t|%>
<li><%=link_to(t.title,t)%></li><br>
<%end%>
</ul>

