<html> 
<header>   
 <style>
body {
    style:"font-family:verdana";
    color:rgb(60, 93, 93);
    background-color:rgb(224, 235, 235);
}
  
</style>
</header>
<body>
<h2> Create Your Own Trivia: </h2>
<%=form_with(model:@trivium) do |f|%>
<label> Title: </label>
<%=f.text_field :title%>
<br>
<label> Content: </label>
<%=f.text_field :content%>
<%=f.submit value = "Create Trivia"%>
<%end%>
</body>
</html>