<label>Title:</label>
<%=@trivium.title%><br>
<label>Content:</label>
<%=@trivium.content%><br>

<a class="button" href="/games/pick<%=@trivium.id%>/edit">Play trivias</a><br>
<a class="button" href="/trivia/<%=@trivium.id%>/edit">Edit trivia info</a><br>