<%= form_with({ method: 'POST', url: '/users/login' }) do  | form | %>
    <div>
        <label>Username</label>
        <%= form.text_field(:username) %>
    </div>
    <div>
        <label>Password</label>
        <%= form.password_field(:password) %>
    </div>
    <%= form.submit('Login') %>
<% end %>