<h1>User:</h1>
<%=@user.name%><br>
<label>Email:</label>
<%=@user.email_address%>
<label>User name:</label>
<%=@user.user_name%><br>



<a class="button" href="/users/<%=@user.id%>/edit">Edit user</a><br>
