<%=@answer.content%><br>

<a class="button" href="/answers/<%=@answer.id%>/edit">Edit answer</a><br>
<a class="button" href="/answers/new">Add more answers</a><br>
<a class="button" href="/trivia/<%=@trivium.id%>/edit">Back to trivia</a><br>