 <html>
 <header>   
 <style>
body {
    style:"font-family:verdana";
    color:rgb(60, 93, 93);
    background-color:rgb(224, 235, 235);
}
  
</style>
</header>
<body>
<h2>Trivia Title: </h2><br>
<%@trivia.each do |t|%>
<h4><li><%=link_to t.title,"/games/pick/#{t.id}"%></li></h4>
<%end%>
</body>
</html>