 <html>
 <header>   
 <style>
body {
    style:"font-family:verdana";
    color:rgb(60, 93, 93);
    background-color:rgb(224, 235, 235);
}
  
</style>
</header>
<body>
<h4>Your Point So Far:<br>
<%=@game.result%></h4><br>
</body>
</html>