 <html>
 <header>   
 <style>
body {
    style:"font-family:verdana";
    color:rgb(60, 93, 93);
    background-color:rgb(224, 235, 235);
}
  
</style>
</header>
<body>
<p>Correct Answers So Far:<%=@game.result%></p><br>
</body>
</html>