 <html>
 <header>   
 <style>
body {
    style:"font-family:verdana";
    color:rgb(60, 93, 93);
    background-color:rgb(224, 235, 235);
}
  
</style>
</header>
<body>
<%=@result.trivium.title%><br>
<h3>This is your result: <%=@result%></h3>
</body>
</html>