<h1>Welcome! to Quizward </h1>
<a class="button" href="/users/new">Sign up</a><br>
<a class="button" href="/users/login">Sign in</a><br>

<h4> If you dont answer well this questions your mom gonna die </h4>


