
<html>
<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0">Quizzard</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">This is where all wizards meet.</h2>
      </div>
    </div>
    <style>
    header {
       style:"font-family:verdana";
      color: col-lg-6;
      text-align:center;
      margin: 0 auto;
    }
body {
    style:"font-family:verdana";
    color:col-lg-6;
    background-color:rgb(224, 235, 235);
}
  
</style>
  </header>

  <!-- Projects Section -->
    <div class="container">

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="mb-0 text-white-50">New here?</h4>
                <a class="button" class="text-white" href="/users/new">Sign up</a>
                <h4 class="mb-0 text-white-50">Already a user?</h4>
                <a class="button" class="text-white" href="/users/login">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</html>