<html>
<head>


<style>
p {
    style:"font-family:verdana";
    color:rgb(60, 93, 93);
}
   body {
   background-color:rgb(224, 235, 235);
}
</style>
</head>
<body>
<img src="https://vignette.wikia.nocookie.net/harrypotter/images/8/8d/PromoHP7_Harry_Potter.jpg/revision/latest/scale-to-width-down/350?cb=20140603201724" srcset="https://vignette.wikia.nocookie.net/harrypotter/images/8/8d/PromoHP7_Harry_Potter.jpg/revision/latest/scale-to-width-down/350?cb=20140603201724 1x, https://vignette.wikia.nocookie.net/harrypotter/images/8/8d/PromoHP7_Harry_Potter.jpg/revision/latest?cb=20140603201724 2x" class="pi-image-thumbnail" alt="" width="270" height="360" data-image-key="PromoHP7_Harry_Potter.jpg" data-image-name="PromoHP7 Harry Potter.jpg">
<ul>
<h3>Harry Potter</h3></ul>
<ul>
Harry James[58] Potter (b. 31 July 1980[1]) was an English half-blood[2] wizard, one of the most famous wizards of modern times. <br>
He was the only child and son of James and Lily Potter (née Evans), both members of the original Order of the Phoenix. <br>
Harry's birth was overshadowed by a prophecy, naming either himself or Neville Longbottom as the one with the power to vanquish Lord Voldemort.<br> 
After half of the prophecy was reported to Voldemort courtesy of Severus Snape, Harry was chosen as the target due to his many similarities with the Dark Lord. <br>
This caused the Potter family to go into hiding. Voldemort made his first vain attempt to circumvent the prophecy when Harry was a year and three months old. <br>
During this attempt, he murdered Harry's parents as they tried to protect him, but this unsuccessful attempt to kill Harry led to Voldemort's first downfall. <br>
This downfall marked the end of the First Wizarding War, and to Harry henceforth being known as the "Boy Who Lived"[5], as he was the only known survivor of the Killing Curse.<br>
One consequence of Lily's loving sacrifice was that her orphaned son had to be raised by her only remaining blood relative, his Muggle aunt Petunia Dursley. While in her care he would be protected from Lord Voldemort, due to the Bond of Blood charm Albus Dumbledore placed upon him.[59] This powerful charm would protect him until he became of age, or no longer called his aunt's house home. Due to Petunia's resentment of her sister and her magic gifts, Harry grew up abused and neglected.<br>


</body>